a {
  width: 10em;
  display: block;
  box-shadow: 0 5px 0 darkred;
  position: relative;
  background-color: red;
  color: white;
  padding: 1em 1.5em;
  font-family: helvetica;
  text-decoration: none;
  text-transform: uppercase;
}
a:hover {
  background-color: #ce0606;
}
a:active {
  box-shadow: none;
  top: 5px;
}
/* a:visited {
  color: purple;
} */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
li {
  list-style-type: none;
}